= render 'form'

- @questions.each do |question|
  .question-wrapper
    %p.question-text= question.question
    %p.question-submitter
      Asked by
      -# = question.user.username
      -# <td><%= link_to 'Show', question %></td>
      -# <td><%= link_to 'Edit', edit_question_path(question) %></td>
      -# <td><%= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete %></td>

%br/

= link_to 'New Question', new_question_path
